$util.qr($ctx.stash.paths.add("Common_FN_upsert_RES.vtl"))
#set($request=$ctx.stash.request)
#set($itemType=$request.itemType)

#if($ctx.error)
    $util.qr($ctx.stash.put("error", $ctx.error))
    $util.error($ctx.error.message, $ctx.error.type)
#end

$util.toJson($util.rds.toJsonObject($ctx.result)[1][0])