$util.toJson({
    "planTypeId": "${ctx.result.partitionKey}",
    "owner": "${ctx.result.owner}",
    "name": "${ctx.result.itemData.name}",
    "cost": ${ctx.result.itemData.cost},
    "active": ${ctx.result.itemData.active},
    "billingTerm": "${ctx.result.itemData.billingTerm}",
    "createdAt": "${ctx.result.createdAt}",
    "updatedAt"  : "${ctx.result.itemData.updatedAt}"
})