$util.toJson({
    "planId": "${ctx.result.partitionKey}",
    "accountId": "${ctx.result.itemData.accountId}",
    "owner": "${ctx.result.owner}",
    "createdAt": "${ctx.result.createdAt}",
    "planTypeId": "${ctx.result.itemData.planTypeId}",
    "startDate": "${ctx.result.itemData.startDate}",
    "endDate": $util.defaultIfNull($ctx.result.itemData.endDate, null),
    "active": ${ctx.result.itemData.active},
    "lastBillDate"  :  $util.defaultIfNull($ctx.result.itemData.endDate, null)
})