$util.qr($ctx.stash.paths.add("FN_common_GET.vtl"))
#set($request=$ctx.stash.request)
#set($itemType=$request.itemType)

#if($ctx.error)
    $util.qr($ctx.stash.put("error", $ctx.error))
    $util.error($ctx.error.message, $ctx.error.type)
#end

#if($ctx.result)
    $set($result=$util.rds.toJsonObject($ctx.result))
    #if(!$result[0].size() == 0)
        $util.error("Item ${request.itemType} [${request.id}] does not exist", 'NotFound')
    #end
    $util.toJson($result[0][0])
#end