$util.qr($ctx.stash.paths.put("Form_numEntries_get_REQ.vtl"))
{
    "version": "2018-05-29",
    "statements": [
        "SELECT count(*) as item_count FROM FormEntry WHERE formId='${ctx.source.id}'"
    ]
}