#set($tenant = $context.identity.claims["custom:tenant"])
#foreach($group in $context.identity.claims.get("cognito:groups"))
    #if($group == "Admin")
        #set($inCognitoGroup = true)
    #end
#end
#if($inCognitoGroup)
    #set($attribs = $context.arguments)
    {
        "version" : "2017-02-28",
        "operation" : "GetItem",
        "key": {
            "id": {"S": "${attribs.accountId}"},
            "type"     : {"S": "ACCOUNT"}
        }
    }
#else
    $utils.unauthorized()
#end