$util.toJson({
    "accountId": "${ctx.result.id}",
    "name": "${ctx.result.itemData.name}",
    "owner": "${ctx.result.owner}",
    "planId": $util.defaultIfNull($ctx.result.itemData.planId, null),
    "createdAt": "${ctx.result.createdAt}",
    "updatedAt": $util.defaultIfNull($ctx.result.updatedAt, null)
})