#set($attribs = $context.arguments)
{
    "version"  : "2017-02-28",
    "operation": "GetItem",
    "index"    : "",
    "key": {
        "type" : {"S": "PLAN"},
        "meta" : {"S": "${context.source.id}#true"}
    }
}