$util.qr($ctx.stash.paths.add("getAccountForms_REQ.vtl"))
#set($identity=$ctx.stash.identity)
#set($args=$ctx.arguments)

$util.qr($ctx.stash.put("request", $args))
$util.qr($ctx.stash.request.put("itemType", 'Form'))
$util.qr($ctx.stash.put("operation", 'list'))
{
    "statements": [
        "SELECT * FROM Form WHERE accountId='${ctx.source.id}'"
    ]
}