$util.qr($ctx.stash.paths.add("getFormVersion_REQ.vtl"))
#set($identity=$ctx.stash.identity)
#set($args=$ctx.arguments)

$util.qr($ctx.stash.put("request", $args))
$util.qr($ctx.stash.request.put("itemType", 'FormVersion'))
$util.qr($ctx.stash.put("operation", 'get'))
{
    "statements": [
        "SELECT * FROM FormVersion WHERE id='${ctx.source.versionId}'"
    ]
}