$util.qr($ctx.stash.paths.add("getOwnedBy_REQ.vtl"))
#set($identity=$ctx.stash.identity)
#set($args=$ctx.arguments)

$util.qr($ctx.stash.put("request", $args))
$util.qr($ctx.stash.request.put("itemType", 'User'))
$util.qr($ctx.stash.put("operation", 'get'))
{
    "statements": [
        "SELECT * FROM User WHERE id='${ctx.source.ownerId}'"
    ]
}