#set($accountId = $context.identity.claims["custom:account"])
#foreach($group in $context.identity.claims.get("cognito:groups"))
    #if($group == "Admin")
        #set($isAdmin = true)
    #end
#end
#if($isAdmin || $context.result.owner == $context.identity.sub || $util.parseJson($context.result.data).accountId == $accountId)

    $utils.toJson($context.result)

#else
    $utils.unauthorized()
#end