#if($ctx.arguments.planTypeId)
  $util.qr($ctx.stash.put("planTypeId", $ctx.arguments.planTypeId))
  {
    "version" : "2018-05-29",
    "operation" : "GetItem",
    "key": {
          "id": $util.dynamodb.toDynamoDBJson($ctx.arguments.planTypeId),
          "type" : {"S" : "PLANTYPE"}
    }
  }
#end