{
  "version" : "2017-02-28",
  "operation" : "Query",
  "query" : {
    "expression": "partitionKey = :accountId",
    "expressionValues" : {
      ":accountId" : {
        "S": "${ctx.args.accountId}"
       }
    }
  }
}